[defaults]
roles_path = ./roles
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = True
forks = 10
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new